button{
    background: green;
    padding: 1em;
    margin-left: 1em;
    border: 2px solid black;
    font-weight: 800;
}
input{
    font-size: 1.5em;
}
@media screen and (max-width:480px){
    input{
        width: 100%;
        margin-bottom: 0.5em;
    }
}